pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
scikit-surprise==1.1.4
scikit-learn==1.6.1
torch==2.2.2
synthcity==0.2.11
optuna==4.2.1
lifelines==0.29.0
nflows==0.14
pycox==0.3.0
opacus==1.5.3
pgmpy==0.1.26
geomloss==0.2.6
xgboost==2.1.4
xgbse==0.3.3
rdt==1.15.0
deepecho==0.7.0
copulas==0.12.1
ctgan==0.11.0
pytorch-lightning==1.9.5
monai==1.4.0
tsai==0.4.0
loguru==0.7.3
tqdm==4.67.1
ipykernel==6.29.4
seaborn==0.13.2
jupyter==1.0.0
notebook==7.1.1
plotly==5.19.0
tabulate==0.9.0
openpyxl==3.1.2
